@font-face {
	font-family: cursedTimer;
	src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
    margin: 0;
	background-color: #1B244A;
	color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
	font-size: 2rem;
	width: 100%;
}

.home {
	justify-content: center;
}

.guest {
	justify-content: center;
}

.home h3 {
	width: 100%;
	text-align: center;
	font-family: Arial;
}

.guest h3 {
	text-align: center;
	font-family: Arial;
}

.home-score {
	width: 80%;
	text-align: center;
	font-family: cursedTimer;
	color: #F94F6D;
	font-size: 3rem;
	padding: 5rem;
	background-color: #080001;
	border-radius: 0.5rem;
}

.guest-score {
	width: 80%;
	text-align: center;
	font-family:cursedTimer;
	color: #F94F6D;
	font-size: 3rem;
	padding: 5rem;
	background-color: #080001;
	border-radius: 0.5rem;
}


