@font-face {
	font-family: cursedTimer;
	src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
    margin: 0;
	background-color: #1B244A;
	color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-evenly;
	font-size: 2rem;
	width: 100%;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.guest {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home h3 {
	text-align: center;
	font-family: Arial;
	font-size: 5rem;
	margin-bottom: 2rem;
}

.guest h3 {
	text-align: center;
	font-family: Arial;
	font-size: 5rem;
	margin-bottom: 2rem;
}

.home-score {
	width: 60%;
	text-align: center;
	font-family: cursedTimer;
	color: #F94F6D;
	font-size: 8rem;
	padding: 5rem;
	background-color: #080001;
	border-radius: 1rem;
}

.guest-score {
	width: 60%;
	text-align: center;
	font-family:cursedTimer;
	color: #F94F6D;
	font-size: 8rem;
	padding: 5rem;
	background-color: #080001;
	border-radius: 1rem;
}

.home-points {
	display: flex;
	justify-content: space-between;
	padding: 4rem;
	width: 100%;
}

.home-points > button:nth-child(-n + 3) {
	font-family: cursedTimer;
	background-color: #1B244A;
	border: 3px solid #9AABD8;
	color: #9AABD8;
	border-radius: 0.5rem;
	padding: 1.5rem;
	text-align: center;
	font-size: 2rem;
}

.guest-points {
	display: flex;
	justify-content: space-between;
	padding: 4rem;
	width: 100%;
}

.guest-points > button:nth-child(-n + 3) {
	font-family: cursedTimer;
	background-color: #1B244A;
	border: 3px solid #9AABD8;
	color: #9AABD8;
	border-radius: 0.5rem;
	padding: 1.5rem;
	text-align: center;
	font-size: 2rem;
}


